[2017-03-06 22:08] tnachen opened #41 "Unable to clean up cloudformation stack"
When trying to delete a stack that was created, it always seems to be stuck in cleaning up the VPC and subnets:

14:06:14 UTC-0800	DELETE_FAILED	AWS::CloudFormation::Stack	test-stack	The following resource(s) failed to delete: [VPC].
Physical ID:arn:aws:cloudformation:us-east-1:118478918310:stack/test-stack/27655af0-02a6-11e7-9cab-500c286e1a36
14:06:12 UTC-0800	DELETE_FAILED	AWS::EC2::VPC	VPC	The

[2017-03-06 22:24] timothysc commented on #41
@tnachen thx for submitting ;-)

We'll look into it shortly.

[2017-03-06 22:36] tnachen commented on #41
@timothysc Thanks! Great work btw :)

[2017-03-06 22:37] timothysc commented on #41
Thx, but other folks deserve the credit here..

[2017-03-06 23:06] bchav commented on #41
@tnachen

Did you have Kubernetes create an ELB for you (create a service with type loadbalancer) or is this just the default cluster?

[2017-03-06 23:07] kensimon commented on #41
@tnachen

Ah yes, this is a known issue at the moment... the AWS cloud provider in Kubernetes is responsible for creating load balancers when you create services with "type=LoadBalancer", but when it does so, it doesn't tag the resources with the CloudFormation stack... so they end up not getting deleted with the rest of the stack.  Particularly they create Network Attachments that are still activ

[2017-03-06 23:08] tnachen commented on #41
I did ask K8s to create a ELB for me, though I remember trying to delete them as well with k8s.

[2017-03-06 23:11] kensimon commented on #41
Ok, yeah that jibes pretty well with my experience.  Not sure if it's due to a lack of tagging or not, it's just my best current theory.  I seem to remember an issue filed to the AWS cloud provider about this but I'm unable to find it.

I'll do some digging to try and validate my theory here at least.  Thanks for filing this.

[2017-03-06 23:36] bchav commented on #41
@kensimon Cloudformation won't clean up resources it didn't create.

In this case, the only workaround I can see is if there was a Cloudformation option for the AWS provider that used stack updates to add additional resources. We might need to look for an out of band solution to this.

In the meantime, manually delete your kubernetes-created ELBs before deleting your stack and everything should cl

[2017-03-06 23:40] kensimon commented on #41
Is there a way (through tags or otherwise) to "trick" CloudFormation into thinking it owns the resources?  If not, there's probably not much we can do, other than maybe having the AWS cloud provider use cloudformation itself to create the resources (perhaps if it detects it's running in a CF stack.)

But I think I've seen issues where even after deleting the Services through kubectl, it still wasn

[2017-03-06 23:48] bchav commented on #41
Unfortunately not, CFN uses the reserved `aws:` namespace for this purpose.

It's possible to get hung up on sporadic gateway detach problems when deleting stacks, but I haven't run into it with this template. IIRC, the workaround would be to give the "GatewayAttachment" object an explicit dependency on the IGW. This ensures the attachment is created after the IGW, but also on teardown the attachm

[2017-03-14 17:46] kensimon commented on #41
After trying for a while, I'm unable to reproduce this if I clean up items in k8s before stack deletion.  Each time I've had this problem it's typically due to services or volumes not being cleaned up before deletion time.

Would a simple script that cleans up all resources from the k8s cluster be helpful here?  I think it would be of limited use however, since typically by the time you notice you

[2017-03-15 21:58] timothysc opened #46 "RFE: Deeper logging integration(s) into AWS."
There are a number of options here depending on what a user is comfortable with.

For the smaller scale, directing integrating into Amazon Cloud Watch makes sense.
https://docs.docker.com/engine/admin/logging/awslogs/
http://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/WhatIsCloudWatchLogs.html

For larger integrations or for folks who want it they could sub-template to stand-up AMZ-Elastic Se

[2017-03-16 21:08] kstewart opened #47 "Add Elasticsearch instance to QS"
As we work towards making the AWS QS more production-ready, we believe we should add an AWS-hosted ElasticSearch instance. This would allow us to host fluentd/kibana on a QS cluster and have it be supported.

[2017-03-16 21:11] kstewart opened #48 "Write PRD for AWS QS"
Now that the Quick Start is live, we need to go back and appropriately scope the project. :-)

A PRD and/or design document needs to be written that captures the intended goal(s) for the QS. With that, we should be able to:

* Identify the overall feature set and create issues for each one
* Evaluate feature requests and determine if they fit the project vision

[2017-03-16 22:47] kensimon commented on #47
Notes:

- AWS's ElasticSearch service requires some hoops to jump through for auth, I explored some options and it looks like [aws-signing-proxy](https://github.com/cllunsford/aws-signing-proxy) is a good bet.  I have a prototype cluster up with that as a service running in kube-system, with the fluentd DaemonSet configured to hit it as an endpoint.  With that I have a working EFK stack.

- Need t

[2017-03-16 23:01] kensimon commented on #47
More:

We can document a simple way to get to the kibana UI using `kubectl port-forward` to the proxy, which seems to work well:

[code]

![image](https://cloud.githubusercontent.com/assets/378280/24022129/caddf2ce-0a61-11e7-8cd0-d06c19a34da0.png)

[2017-03-17 21:39] kensimon commented on #48
Initial draft: https://github.com/heptio/aws-quickstart/issues/48

[2017-03-17 21:39] kensimon commented on #48
Closing in favor of internally-tracked issue

[2017-03-17 21:39] #48 closed

[2017-03-24 00:29] e30chris opened #50 "CloudFormation template not loading in CF designer"
_Description:_
Loading the Heptio CloudFormation template into the CF Designer so that I could edit and modify the template to fit my infrastructure, returns an error.

Using this CF template in the AWS web console succeeds successful in building the k8s stack.

_Repro Steps:_
- Open CF Designer
- Click Open
- Choose the 'Amazon S3 Bucket' option
- Choose the 'Template URL' option
- Paste the foll

[2017-03-24 01:00] e30chris commented on #50
aaannnnnnndddd........read the docs first!

sorry and apologies - this is not a bug.  Designer only renders JSON and this is YAML.  My mistake!

the Designer docs clearly state:

[code]

closing.

[2017-03-24 01:00] #50 closed

[2017-03-24 01:04] kensimon commented on #50
Ah, you closed right as I was about to respond with mostly the same thing.

We had to make a judgement call right in the beginning whether we wanted to go with JSON or YAML, and we decided to go with YAML because it's easier to document (you can have inline comments), and AWS's tooling was starting to adopt it across the board.  Looks like the graphical designer still doesn't support it yet.

Unfo

[2017-03-24 01:07] e30chris commented on #50
As an "Ansible" person, we love our YAML, well most of the time.  Sorry again for the distraction and looking forward to continuing to work with Heptios k8s tooling.

[2017-03-24 22:09] kensimon opened #51 "Bump API Load Balancer timeout"
It currently is set to 60s and it makes `kubectl run -it` and `port-forward` et al break if no data is sent for >60s.  This should be bumped to something more reasonable.

[2017-03-24 22:15] jbeda commented on #51
This isn't as critical as if we were using it for internal communication but still something we should up to the max of 3600s.

[2017-03-24 23:53] #51 closed

[2017-03-25 23:31] robertojrojas commented on #41
Does it make sense to add some instructions as part of the Next Step tutorials indicating what steps to follow to cleanly remove the deployed Stack? In my case, I followed some of the suggestions on this issue and the Stacks appeared to be deleted cleanly. Maybe the same suggestions could be used as a starting point for the instructions. As added bonus, they could be buy you some time to come up w

[2017-03-26 02:16] tnachen commented on #41
We worked around this by making sure that all the ELB deletes and associated security groups deletion is finished (as it happens async, so can't just delete k8s and then right away deleting the stack).

[2017-04-28 01:29] hangtwenty opened #60 "Comparison to kube-aws etc. ?"
Hi there,

Any plan to break down differences from going with [kube-aws](https://coreos.com/kubernetes/docs/latest/kubernetes-on-aws.html)? I'm new to Kubernetes and Kubernetes-on-AWS, coming from AWS ECS experience. I was happy to find your example (through the AWS blog), but then one of the first things I sought was a comparison table or other rationale about why not to build on that tool. Is it

[2017-04-28 16:32] rdodev commented on #60
Hey @hangtwenty

While we do not have a feature comparison table at the moment, the most important and crucial difference to keep in mind is that our quick start is meant as a way to get a kubernetes cluster up and running fast but not emphasizing on aspects that are *required* for a production-ready cluster (i.e. multi-master configuration, DR, security hardening -- other than what's recommended

[2017-04-28 16:46] hangtwenty commented on #60
OK, so someone like me could:

* Start with your quick start to tinker
* Once I grok some of it, start looking into `kube-aws` and `kops`, comparing and deciding what to proceed with?

Is that how you think of it?

[2017-04-28 16:54] rdodev commented on #60
@hangtwenty

That's definitely one of the aims of the quick start and a natural progression path  =)

[2017-04-28 21:19] hangtwenty commented on #60
Thanks!

[2017-04-28 21:19] #60 closed

[2017-05-02 19:35] rosskukulinski opened #61 "kubectl get nodes doesn't identify master"
The output from running `kubectl get nodes` as described in the Quickstart PDF doesn't identify which Node is the master.

![screen shot 2017-05-02 at 3 24 21 pm](https://cloud.githubusercontent.com/assets/2746479/25635246/7010d7b2-2f4b-11e7-9585-9813ec7c0d7b.png)

[code]

As of https://github.com/kubernetes/kubernetes/pull/35901, `kubectl` looks for the `kubernetes.io/role=master` label.  Manuall

[2017-05-15 22:28] christopherhein opened #62 "QuickStart Reference PDF Weave Links"
Handful of Weave links in [heptio-kubernetes-on-the-aws-cloud.pdf](https://s3.amazonaws.com/quickstart-reference/heptio/latest/doc/heptio-kubernetes-on-the-aws-cloud.pdf) which need to be updated to the [Weave](https://github.com/weaveworks/weave) core repo.

- [ ] Page 4
- [ ] Page 8
- [ ] Page 14
- [ ] Page 16
- [ ] Page 20

Thanks!

[2017-05-25 20:31] kensimon commented on #62
Sorry, must have missed this when it came in.  We'll get that updated ASAP.

[2017-05-25 20:48] kensimon commented on #47
Closing this because the decision was to document how to do this instead: http://docs.heptio.com/content/tutorials/elastic.html

[2017-05-25 20:48] #47 closed

[2017-05-25 20:49] kensimon commented on #46
Closing, because we decided to document this for self-service instead: http://docs.heptio.com/content/tutorials/elastic.html

[2017-05-25 20:49] #46 closed

[2017-05-25 21:06] #61 closed

[2017-05-25 22:28] kensimon commented on #41
Added a troubleshooting guide here that outlines how to delete the LB's: https://github.com/heptio/aws-quickstart/blob/master/troubleshooting.md

Since there's not much we can do to fix the real issue, documentation is the best we can do.

[2017-05-25 22:28] #41 closed

[2017-05-25 22:30] kensimon commented on #62
PDF has been updated, thanks for reporting this.

[2017-05-25 22:30] #62 closed

[2017-06-21 19:59] emcfins opened #65 "QS fails to launch when creating the master node"
Getting the error:

14:05:11 UTC-0400 	CREATE_FAILED 	AWS::EC2::Instance 	K8sMasterInstance 	Received FAILURE signal with UniqueId i-XXXXXXXX

The EC2 itself launches but it fails when labeling the master node with the role of master.

# Label this node as a master
kubectl label node "$(hostname -f)" "kubernetes.io/role=master"

~$ hostname -f
hostname: Name or service not known

[2017-06-23 18:19] kensimon commented on #65
Hello, sorry it took a bit to respond to this.

This seems strange, as it suggests that the EC2 instance doesn't have working networking/DNS configuration by the time the `kubectl label` step is running.

We've never seen this error on our end, can you give some steps to reproduce?  Are you creating this in a new VPC or an existing one?  Or are you doing something more customized?

[2017-06-23 18:56] emcfins commented on #65
I navigate to the [Kubernetes Quick Start](https://aws.amazon.com/quickstart/architecture/heptio-kubernetes/) landing page and click on the link to Deploy on AWS in a new VPC.
Once there, I change my region to us-east-1 then continue on with the necessary parameters.
Once launched, all goes well until it runs the /tmp/setup-k8s-master.sh, when the CFN fails.

This is the error I see in the /var/lo

[2017-06-23 19:19] bchav commented on #65
What's your VPC configuration? Does your VPC have dns support and dns hostnames enabled?

http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/vpc-dns.html#vpc-dns-hostnames

[2017-06-23 19:35] emcfins commented on #65
Yes - the VPC has both DNS resolution and DNS hostname enabled (set to 'yes').

I changed the command to use -A and awk and it seems to have worked running /tmp/setup-k8s-master.sh
[code]

[2017-06-23 19:55] kensimon commented on #65
Looks like this is a problem with how machines are configured in us-east-1... they have a search path of `us-east-1.compute.internal`, but the shortname doesn't seem to be valid address under that search path.

The `hostname -A` approach will probably work fine, I'll see if there's any better way to accomplish this.

Thanks for the report!

[2017-06-23 20:12] kensimon commented on #65
I think the issue is the DHCPOptions set we deploy to the VPC. We're configuring the domain name returned by DHCP to be `${AWS::Region}.compute.internal`, but according to the docs, us-east-1 is special: if you're using AWS-provided DNS you are supposed to use `.ec2.internal` as the domain name for your DHCP servers in that region (and only that region.)  See: http://docs.aws.amazon.com/AmazonVPC/

[2017-06-23 21:38] emcfins commented on #65
I agree, I think your fix will be better than the hack above. Thanks for looking into this.

[2017-06-23 23:16] kensimon commented on #65
The fix is now merged into our master branch, but won't be in the production Quick Star template until probably late next week.  In the mean time if you want to run our latest master, instructions are here: https://github.com/heptio/aws-quickstart#deploying-latest-master

[2017-06-23 23:16] #65 closed

[2017-07-03 21:46] hausdorff opened #69 "`kubedns` container seems to perpetually fail when we boot up a new cluster"
[code]

When I boot up a fresh cluster, `kubedns` seems to perpetually fail every time. The failure logs for the `kubedns` container reliably look something like this:

[code]

[2017-07-05 20:17] sundeepbobba opened #70 "Stack creation failing when using quickstart to create cluster on existing VPC"
We are trying to create a cluster on existing vpc, but it was failing when the kube-master instance is created.

Error:

14:19:11 UTC-0500 	CREATE_FAILED 	AWS::EC2::Instance 	K8sMasterInstance 	Received FAILURE signal with UniqueId

[2017-07-05 20:21] #70 closed

[2017-07-05 20:21] sundeepbobba commented on #70
found the resolution from previous issues.

[2017-07-06 15:47] kensimon opened #71 "Install k8s dashboard by default"
It's a generally useful thing, and if we can document how to access it (kubectl proxy et al) it's a low-cost thing to have running by default.

[2017-07-06 18:05] jayunit100 opened #72 "Make the bastion UX completely Automated"
The bastion could do with a few minor improvements.  Here's some suggestions I have...  After doing this, basically the heptio quickstart can be used by and kubernetes QA or app developer to deploy a non-trivial, working cluster out of the box.

- I think the bastion server and the master both do not expose a port for https.  Should we manually open them up?
- Automatically exporting KUBECONFIG in

[2017-07-06 18:11] jayunit100 commented on #69
On a fresh heptio cluster, I see the kube proxy working as inteneded...
[code]

[2017-07-06 18:18] hausdorff commented on #69
@jayunit100 I think @kensimon and I have concluded that somehow something important to Calico got deleted when we were doing stuff on the test cluster. So we can probably close this.

[2017-07-11 17:19] mattmoyer opened #73 "Prevent access to AWS metadata endpoint"
The EC2 metadata service provides instance role credentials via a link local interface (`http://169.254.169.254/latest/meta-data/iam/security-credentials/*`). This means any code running on the instance, even non-root code or code running inside a container, has access to whatever IAM role is assigned to the instance. Even without assuming malicious code, this data can be exposed by [Server Side R

[2017-07-14 16:20] kensimon opened #74 "Use newer convention for tagging AWS resources with kubernetes cluster"
AWS resources need to be tagged with a kubernetes cluster ID so that the cloud provider can have enough information to create things like load balancers, volumes, etc.

The old way to tag was with `KubernetesCluster=<clustername>`, but the new way is with:

`kubernetes.io/cluster/<clustername>={shared,owned}`, where `shared` means something can be shared with another cluster.  We can just set it t

[2017-07-14 18:15] jayunit100 opened #75 "Allow service accounts in the pods to list stuff."
**Problem**

Default Helm wants to be able to list configmaps in various namespaces, but looks like svc accounts lock that down in the default heptio quickstart.

**Solution**

Somehow make the default service accounts capable of listing all API objects.

**Details**

- helm default tries to run in  kube-system (I understand why that might be locked down).  That works out of the box on minikube.
-

[2017-07-14 18:29] jayunit100 commented on #75
Actually, https://github.com/kubernetes/dashboard/issues/1800 indicates this is a 1.6 kube-adm idiosyncracy/bug/securityfeature .

Either way some docs or maybe having installer smooth it over w/ a few `create clusterrolebinding`
commands might be a good route forward.

[2017-07-14 18:32] chuckha commented on #75
@jayunit100 For helm I create a helm service account with admin access and then use `helm init --service-account helm`

[code]

I don't like to give the default service account admin level access, but I think adding RBAC to the quickstart is out of scope.

Do you think a solution would be to document that the quickstart does not include any RBAC roles/bindings?

[2017-07-14 18:57] jayunit100 commented on #75
It seems like the implementation is not as important as helm working out of the box.  I suppose this is enough for now though.  Youre call

[2017-07-14 19:00] chuckha commented on #75
we should definitely get @kensimon's thoughts on this

[2017-07-14 19:23] kensimon commented on #75
For Helm, the fact that `helm init` doesn't configure service accounts properly for tiller is a Helm bug.  (See: https://github.com/kubernetes/helm/issues/2224).  IMO, `helm init` should add a service account for tiller as well as a clusterrolebinding that enables it to do its job.

On our end, like Chuck said, what you get with the QS are the defaults that kubeadm applies (which is essentially no

[2017-07-21 17:44] kensimon commented on #75
Closing this since we believe the behavior to be correct, feel free to reopen if this needs more discussion.

[2017-07-21 17:44] #75 closed

[2017-07-21 21:09] kensimon commented on #72
Sorry it took a while for me to see this, let me respond to each item:

There shouldn't be a reason to have the bastion expose HTTP, it only exists as a single host you SSH through if you want to get to the rest of the clutser.  HTTP(S) is exposed via an ELB that listens on the public internet (filtered by the same CIDR range you specify for the bastion, for convenience), not through the bastion h

[2017-07-21 22:26] kensimon commented on #74
Fixed in latest master

[2017-07-21 22:26] #74 closed

[2017-07-21 22:26] kensimon commented on #71
Fixed in latest master

[2017-07-21 22:26] #71 closed

[2017-07-24 08:07] jayunit100 commented on #75
Makes sense to me as well ;

[2017-07-25 22:34] mattmoyer commented on #69
I'm seeing this on a fresh cluster just now ([log](https://gist.github.com/mattmoyer/9c710b19f66e833486f9ff24138f789f)). Scaling the `kube-dns` deployment down to zero and then back up to one fixed it.

[code]

Kubernetes had already restarted the containers 17 times by the time I saw it, which didn't seem to be helping anything. Destroying and recreating the pod fixed it right away, though.

A wi

[2017-07-26 20:23] kensimon commented on #69
I've seen the same thing... *sometimes*.  It's always fixed by deleting the pod, but I haven't found a smoking gun in the logs on what exactly is going wrong.  I'm currently looking to reproduce this, so if you find this in another cluster (and are willing to grant me access) let me know.

[2017-08-05 16:09] rdodev opened #79 "Make a CI check that ensures all AMI's are valid"
Recently we had an incident where a user of AWS K8s QS couldn't deploy it because the ami the cluster depends on was not visible/accessible to the public. ~~We should create a "runbook" with manual tests for the `us-west-2` region through an unprivileged account to make sure we didn't miss issues with permissions.~~

We should have a script that checks every image in `RegionMap` within `templates/

[2017-08-07 09:13] rbjorklin commented on #69
I'm not using Heptio but I'm seeing this exact problem on a fresh install and scaling up/down doesn't seem to help. Any thoughts?

[2017-08-07 15:58] kensimon commented on #79
There already is an automated script that marks all the AMI's public, us-west-2 isn't special and isn't any different.

The reason the us-west-2 AMI was misconfigured was because I manually copied it myself and intentionally patched `deploy-ami.sh` to exclude us-west-2 so I could keep testing it.  This was 100% human error on my part, as I explained in slack.

[2017-08-07 16:01] rdodev commented on #79
@kensimon do we have tests automated or otherwise for checking public assets (images, S3 files, etc.) are indeed public in all regions we support?

[2017-08-07 16:04] kensimon commented on #79
No, but there is a script that deploys the assets and automatically marks all of them public (deploy-ami.sh)

The issue is that I inserted a `| grep -v us-west-2` into the script manually because I was an idiot.  If we made a script that only audits the existing stuff, it stands to reason I would be an idiot with that script too...

[2017-08-07 16:05] rdodev commented on #79
bwahahah, don't be so harsh on yourself. #wereallidiots

[2017-08-07 16:08] kensimon commented on #79
Hmm, I think it may be a good idea to add something that loads the whole RegionMap from kubernetes-cluster.template and just ensures all the ami's:

- exist
- are public
- have the same name

and just have that be a part of CI for merging into master.  I'll edit the original message and reopen this.

[2017-08-12 20:49] yuvipanda opened #80 "Consider adding StorageClasses by default"
Heya! Following on from https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/88 :)

I'd love for there to be a default storage class. Almost all helm charts default to having PVCs that are provisioned by the default, and allow you to override it. I believe this stems from https://kubernetes.io/docs/concepts/storage/persistent-volumes/#writing-portable-configuration, especially:

When writin

[2017-08-14 13:48] rdodev commented on #80
FWIW as stop-gap measure adding a paragraph in the docs about this and how to get around it would be helpful.

//cc @Bradamant3

[2017-08-28 14:02] mattmoyer opened #83 "Consider adding EC2 Spot Fleet / Spot ASG options"
Using spot instances could save a bunch of money for dev/test use cases.

[2017-08-29 07:36] huyhoang-goappable opened #84 "socket issue in/outside the cluster"
Here are the cases:
1. Kube version 1.6.x:
I install the cluster with these 2 services: one simple api and redis. When I chose the calico as networking add-ons for the cluster. The connection between them just dropped so many times.
But when I picked weave, things ran smoothly.

2. Kube version 1.7x:
Weave networking again, our services has 2 pods under the load balancing  (nginx). Somehow, the so

[2017-08-31 18:47] #79 closed

[2017-09-01 04:50] #84 closed

[2017-09-02 21:57] hausdorff opened #88 "Consider adding multiple SSH keys"
It's frequently true that I want to spin up (_e.g._) a cluster for the team. Currently I seem to only be able to provide 1 SSH key, which means I have to go add the rest manually.

I'm not sure if it's possible to change the template to generalize this, but it would be really convenient if so.

[2017-09-06 14:45] mattmoyer commented on #88
+1, this would probably mean moving away from the builtin EC2 SSH key metadata and doing our own thing with user data.

I'd also love to even get away from needing to enable SSH at all by default.

[2017-09-11 20:56] cguethle opened #89 "Error with "type: LoadBalancer" when deploying into existing VPC?"
I get the following deploying nginx ingress controller into a k8s cluster generated by your template (deploying into an existing VPC).

`Error creating load balancer (will retry): Failed to create load balancer for service nginx-ingress/nginx-ingress: could not find any suitable subnets for creating the ELB`

I suspect it is because the Public subnet that would be the recipient of the new ELB is n

[2017-09-11 21:53] craigtracey commented on #69
I have encountered this a number of times now and this appears to be a race between Calico being configured/ready and the pod(s) being brought up. Ultimately, these containers land on a different network namespace than the other containers, and are unable to communicate with the API server.  If the pod is deleted, it will then restart on the correct network namespace and life is good.

As an examp

[2017-09-15 13:48] craigtracey commented on #69
This is due to a defect in Calico and should be addressed in the 2.6 version, which should be available end of Sept 2017.  Once that ships, we will need to update our calico.yaml manifest and we should have this resolved.

The TL;DR here is that Calico was not handling CNI network DEL's correctly.  The kubelet upon Pod failure will issue many DEL instructions to the CNI provider. These may arrive

[2017-09-15 14:01] timothysc commented on #69
/cc @caseydavenport

[2017-09-19 23:34] danhartfiction opened #91 "LoadBalancerType changed to internet-facing from internal"
The CloudFormation template changed LoadBalancerType to force internet-facing.  This should be a configuration option to choose internet-facing or internal.  I am presently working on an update for this.

[2017-09-27 15:26] timothysc commented on #69
Currently pending on upstream calico 2.6 release and update to: https://github.com/heptio/aws-quickstart/blob/master/scripts/calico.yaml

I should know later today when it's officially out.

[2017-09-28 15:56] timothysc commented on #69
We're going to hold off on updating calico in this iteration b/c there is simply not enough bake time for us to validate.

[2017-09-29 18:43] danhartfiction commented on #91
I'm not sure what the AWS default is, however the CloudFormation template provided in this github hardcodes "internet-facing"  (See my pull request.)

I found this out by standing up this CloudFormation in my Dev account, and being unable to connect.  That is when I saw it was internet-facing, and thus not working with my network setup.

[2017-10-02 15:39] chuckha commented on #91
Ah, yes, thanks for the clarification! Left one comment on the PR.

[2017-10-02 17:37] timothysc commented on #69
@craigtracey could you validate that official release
```kubectl apply -f https://docs.projectcalico.org/v2.6/getting-started/kubernetes/installation/hosted/kubeadm/1.6/calico.yaml``` fixes your repo?

[2017-10-06 22:47] timothysc opened #97 "Update quickstart docs for next cycle"
http://docs.heptio.com/content/aws.html appears out of date and should include a link to https://scanner.heptio.com/ and version update information as well.

[2017-10-18 13:26] #80 closed

[2017-10-18 14:58] timothysc commented on #89
closing this in favor of #91 and there is a PR in flight.

[2017-10-18 14:58] #89 closed

[2017-10-19 21:31] k8k commented on #97
quick update on this:
- @Bradamant3 is working to get the quickstart content on docs.heptio.com updated and accurate
- the build is slightly broken, but @chuckha has graciously offered to help get it sorted out so we can make sure the changes are live on production for the release thursday of next week
- @Bradamant3 has an email out to Amazon to get changes to the PDF. this process is slow and lar

[2017-10-19 21:36] timothysc commented on #97
ack, thx for the update!

[2017-10-23 14:27] timothysc commented on #97
@Bradamant3 it's a post stand-up validation step to help ensure that their cluster is working properly prior to loading.

[2017-10-24 18:40] Bradamant3 commented on #97
@timothysc @chuckha @rosskukulinski PTAL. Docs updated on staging site, here (or you can try to follow the not-completely-intuitive navigation):
https://docs-staging.heptio.com/content/aws.html
- updated version
- added link to sonobuoy scanner
https://docs-staging.heptio.com/content/aws-release.html
- updated release notes
https://docs-staging.heptio.com/content/aws-qs-help.html
- added link to t

[2017-10-25 13:55] timothysc commented on #97
@Bradamant3 I would nix the reference to kops honestly.

Otherwise /lgtm
@chuckha any comments?

[2017-10-25 14:10] rosskukulinski commented on #97
@Bradamant3 my only suggestion:

"The QuickStart now includes a default StorageClass, to support the PersistentVolume objects that are required by the Wordpress Helm chart (and by most Helm charts). For more information about the StorageClass and PersistentVolume objects, see the documentation."

==>

"The Quickstart now includes a default StorageClass, to support dynamic provisioning of Persisten

[2017-10-25 16:12] #69 closed

[2017-10-25 21:05] timothysc commented on #97
Closing the issue now, thx @Bradamant3 !

[2017-10-25 21:05] #97 closed

[2017-10-27 02:07] rdodev commented on #73
Given this: https://twitter.com/kennwhite/status/923615476340707331

Can we bump priority on this?

[2017-10-27 14:08] timothysc commented on #73
Enqueue for next revision.

[2017-10-27 14:09] timothysc commented on #73
@rdodev @mattmoyer - patches welcome too btw ;-)

[2017-11-21 16:04] timothysc opened #104 "Update to 1.8.4"
Make sure all the latest tests pass too.

[2017-11-22 18:25] bgeesaman opened #105 "Deploying latest "master" from README doesn't deploy latest template/AMIs from Github"
Ran:
[code]

Got:
[code]

Expected:
[code]

The AMI: ```ami-025e467b``` (us-west-2) in the S3 stack template was baked on ```2017-07-21``` which does not line up with the AMI: ```ami-f431fe8c``` in the repo stack template that was baked on ```2017-10-26```

Maybe requires a repo -> S3 push/update to be run?

[2017-11-22 20:31] bgeesaman commented on #73
I believe you have two options (not mutually exclusive):

1. Install [kube2iam](https://github.com/jtblin/kube2iam) or [kiam](https://github.com/uswitch/kiam) to serve as a metadata proxy/filter (GCE/GKE has the GCE Metadata Proxy)
2. Implement egress ```networkpolicy``` rules

Both have modest downsides, but definitely worth doing at least one of them because it's a fairly high risk secondary att

[2017-11-22 20:54] bgeesaman commented on #73
I should add that I'm willing to assist with this effort :-)

[2017-11-24 22:32] zetaron opened #107 "docker version update to support multi stage builds"
Hey I've recently started to enjoy the heptio quickstart.
So far it's been quite the awesome and easy to use, providing exactly what I've expected!

Today I setup a Jenkins to shift some of our docker build and software CI into kubernetes.
Sadly the installed docker version does not support the multi stage build feature which we use quite a lot. As it allows us to encapsulate the whole build, test

[2017-11-27 17:27] timothysc commented on #73
@bgeesaman @mattmoyer - we're working on a refresh this week, so happy to entertain PRs on best practices.

[2017-11-27 20:32] chuckha commented on #73
I'm looking into generating network policies when namespaces get created.

[2017-11-27 21:32] timothysc commented on #73
We'd need to add a mutating web-hook, init container, or controller that would apply this policy to every namespace.

[2017-11-27 21:38] chuckha commented on #105
You're right! This was an error in our CI/CD. That has been fixed and it will be updated automatically on every push to master.

Thanks for the report!

[2017-11-27 21:38] #105 closed

[2017-11-27 22:49] #104 closed

[2017-11-28 01:51] chuckha opened #109 "We pull the wrong etcd image"
The actual version of etcd we use is [3.0.17](https://github.com/kubernetes/kubernetes/blob/v1.8.4/cmd/kubeadm/app/constants/constants.go#L108) as we do not specify the etcd version in kubeadm config and therefore it uses the default.

[2017-11-28 02:38] chuckha commented on #109
Actually we do use 3.1.10, we just don't pull the k8s version. We use the 3.1.10 for calico's etcd.

[2017-11-28 02:38] #109 closed

[2017-11-28 15:12] timothysc commented on #107
@zetaron we track upstream versions that are fully vetted.  Are you building on your cluster, or can you build externally?

[2017-11-28 15:14] timothysc commented on #73
So in other conversations, we think it makes more sense to add a simple external component that handles this.  The only other thing we could do is lock down the default namespace.

thoughts?

[2017-11-28 15:30] bgeesaman commented on #73
Considering that this is a _quick_ start and that calico is the default CNI provider, a simple egress policy on only the default namespace seems like the lightest approach that covers the broadest use case.  Documentation notes to cover removing it (if the user needs to) and applying it to other workload namespaces (if the user wants to).  This stops the attack path in the default setup, can be ea

[2017-11-28 15:37] craigtracey commented on #107
Kubernetes 1.8 is currently only tested against 1.11.2, 1.12.6, 1.13.1, and 17.03.2 (https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.8.md#external-dependencies). Multi-stage builds are not available until 17.05, unfortunately.

Care should be exercised when building Docker images in this manner, as all of the paths require some level of escalated privileges.

[2017-11-28 16:17] timothysc opened #110 "Do not default to burstable instances."

[2017-11-28 20:46] liztio opened #113 "use `k8s-app` instead of `component` for kube-system apps"
The emergent consensus in the community seems to be that `k8s-app` is the way to label system components.

[code]
[code]

the two fields mean pretty much the same thing, but we're the only ones who use `component`. `k8s-app` is the standard on kops, gke, and acs.

[2017-11-28 22:25] #73 closed

[2017-11-28 22:27] timothysc commented on #110
@chuckha this is the only other change for this refresh.

[2017-11-29 17:01] #110 closed

[2017-11-29 17:01] chuckha commented on #91
Thanks for the patch!

[2017-11-29 17:01] #91 closed

[2017-12-01 11:15] zetaron commented on #107
@timothysc I wanted to build on the cluster for simplicity but could build externally which would somewhat overcomplicate things, I think will just go with not using multistage builds for now.

@craigtracey Oh I did not know that Kubernetes is currently not tested against 17.05, will keep an eye on it.

[2017-12-15 18:30] chuckha opened #117 "kubelet on nodes spits useless errors"
our node kubelets are configured with `--manifest-path` (or whatever it is) and they spew this useless error

`Dec 15 18:28:36 ip-10-0-26-239 kubelet[1129]: E1215 18:28:36.106590    1129 file.go:76] Unable to read manifest path "/etc/kubernetes/manifests": path does not exist, ignoring`

we can either create that dir so the error goes away or not set the static manifest path on the *node* kubelet

[2018-01-02 19:20] krisdock opened #118 "403 Error when starting AWS Quickstart"
Issue from user:

I'm trying to run the quickstart template for Kubernetes on AWS for my existing VPC, but it is failing. According to the /var/log/cfn-init.log file on the master, it failed because of a 403 error accessing https://quickstart-reference.s3.amazonaws.com

[code]

I tested the URLs via browser and cURL with no luck, but I'm not certain whether they're intended to be accessible from a

[2018-01-02 20:30] timothysc commented on #118
@krisdock what is the exact process they are using and is the existing VPC empty or not?

e.g. - is there a command line they are using, etc?

[2018-01-02 20:46] GridGuy4 commented on #118
I was running the CloudFormation template from the AWS console, not CLI.

The existing VPC has an IG and routes available to access S3

[2018-01-03 19:16] chuckha commented on #118
These logs crop up in every quickstart deployment and should have no impact on the success of the creation of a qs cluster. Is there any more to the log?

Can you provide some steps to reproduce? Even vague guidelines as to what is in your VPC, the cidr block and which template was used and what parameters were passed in would greatly help.

Thank you for the report! @krisdock @GridGuy4

[2018-01-03 20:03] GridGuy4 commented on #118
I've sent the full cfn-init, the CF parameters, and the events.

On Wed, Jan 3, 2018 at 2:16 PM, Chuck Ha <notifications@github.com> wrote:

--

Michael Ryan

845-797-8994
mikeryan4@gmail.com

14:34:56 UTC-0500       CREATE_FAILED           AWS::CloudFormation::Stack              Heptio-Kubernetes-mjr1  The following resource(s) failed to create: [K8sMasterInstance].
14:34:55 UTC-0500       CREATE

[2018-01-03 20:24] chuckha commented on #118
@GridGuy4 I see the events and parameters but don't see the logs

[2018-01-03 20:51] GridGuy4 commented on #118
I renamed cfn-init.log to cfn-init_log.txt to see if it will go through.

In looking at the log, the command hostname -f fails from the command line
as it does in the CF template.

ubuntu@ip-10-96-6-209:/var/log$ hostname
ip-10-96-6-209
ubuntu@ip-10-96-6-209:/var/log$ hostname -f
hostname: Temporary failure in name resolution

On Wed, Jan 3, 2018 at 3:24 PM, Chuck Ha <notifications@github.com> wro

[2018-01-03 20:56] chuckha commented on #118
Yep, looks like the failure is that the `hostname` command is failing.

https://github.com/heptio/aws-quickstart/blob/master/scripts/setup-k8s-master.sh.in#L37

[2018-01-03 21:03] GridGuy4 commented on #118
so do you have a fix?

On Wed, Jan 3, 2018 at 3:56 PM, Chuck Ha <notifications@github.com> wrote:

--

Michael Ryan

845-797-8994
mikeryan4@gmail.com

[2018-01-03 21:28] rbankston commented on #118
I've seen the internal dns resolvers on AWS not function as intended from time to time. Usually trying a reboot of the machine or provisioning a new machine resolves the dns issue.

[2018-01-03 21:35] GridGuy4 commented on #118
I’ve run the QuickStart 6 times now & it fails the same way every time. Seems like

-----------------
Michael Ryan
(845) 797-8994

[2018-01-03 23:38] GridGuy4 commented on #118
I figured it out ... the DHCP options for that VPC were not the default
(they are pointing at our domain controllers).  I re-ran the template in
the default VPC and it worked.  I then ran it again in another private
VPC with the default DHCP options in place & that worked too.

You can close this (unless you want to find a way to get this to work
for a VPC with non-default DHCP options).

Thank yo

[2018-01-04 14:19] #118 closed

[2018-01-04 17:57] timothysc opened #119 "Image update with patched kernel"
We need to ship ensure we have an updated image w/kernel fixes associate with spectre

/cc @liztio @mattmoyer

[2018-01-04 18:00] timothysc commented on #119
I debate if we should wholesale switch to CentOS with this too.

/cc @craigtracey @rbankston

[2018-01-05 17:25] timothysc opened #121 "Leverage craigt's work"
We have a lot of custom jiggery to build out images, I'd like to see if we could reduce it with some of craig's work.

[2018-01-05 19:16] timothysc opened #122 "Evaluate deployment target switch to what we do for best practices."
The quickstart was created before we defined deployment best practices and default configuration.

We should move to reconcile the two.  This is nuanced and we can discuss offline.

/cc @rbankston @chuckha

[2018-01-08 16:09] chuckha commented on #121
Can you point me to some of the work you're referencing or describe what it does here?

[2018-01-09 15:09] timothysc opened #123 "Use actual packages vs. upstream ad-hoc cribing."
To create the image I think we should use the repos and packages, and I'm unsure what the original constraint was.

xref: #121 - as there is overlap.

[2018-01-09 22:04] timothysc commented on #107
@craigtracey we should eval your recent updates.

[2018-01-11 04:46] dasgoll commented on #83
Spot instances in dev would be awesome :)

[2018-01-11 17:07] timothysc commented on #119
Will need to validate the images in wardroom once the PR is merged.
Also update the bastion images as well.

[2018-01-11 17:09] timothysc commented on #117
Evaluate if this goes away when we use wardroom with standard packages which should create the directories.

[2018-01-11 17:10] timothysc commented on #83
@chuckha please check over.

[2018-01-12 14:59] timothysc opened #127 "Feedback from upstream PM"
Looks like that stack needs Requires capabilities : [CAPABILITY_IAM]
I guess my IAM account doesn't have that or something

Which prevented them from using, which is a shame.

/cc @rrati

[2018-01-12 15:01] timothysc opened #128 "Rev CNI options to latest."
Validate Weave and Calico defaults are the latest versions.

[2018-01-12 15:44] chuckha commented on #127
This is required to create resources that will be billed on aws. There isn't much we can do about this one.

[2018-01-12 16:14] #121 closed

[2018-01-12 17:33] krisdock opened #129 "quickstart failing in existing vpc due to missing /etc/kubernetes/pki/ca.crt file"
I am attempting to deploy the Heptio-Kubernetes stack into an existing
AWS VPC. We are currently trying to stand up a PoC in the N. California
(us-west-1a) az/region; I started by changing the dropdown in the top
right corner, and for subsequent attmepts used the following URL:

https://us-west-1.console.aws.amazon.com/cloudformation/home?region=us-west-1#/stacks/new?stackName=Heptio-Kubernetes&te

[2018-01-12 18:49] chuckha commented on #129
Hi Stephen, thanks for the detailed report!

`kubeadm init` is the thing that will create those pki files. There should be logs in CloudWatch that may have more detail about why `kubeadm` can't put those files there. Do you still have the CloudWatch logs kicking around?

[2018-01-12 19:50] smcquay commented on #129
I already tore it down, but it wasn't too bad to recreate.

From `/var/log/cfn-*` I am seeing references to:

[code]

and

[code]

I've verified that `hostname -f` fails interactively as well. I'm asking around on our side to see if there's anything peculiar about our setup that would cause that to fail.

Anything else you'd like from this node?

[2018-01-12 19:57] chuckha commented on #129
Nothing else, thank you.

Checkout the DHCP options on your VPC.

See https://github.com/heptio/aws-quickstart/issues/118 for a similar failure.

[2018-01-12 20:34] smcquay commented on #129
That failure is identical (also failing above in the curl commands).

Checking to see if there's anything we can do.

[2018-01-12 20:37] timothysc commented on #113
evaluate post wardroom updates.

[2018-01-12 20:41] timothysc opened #130 "Create simplified punch-list for release."
Make it so easy anyone can do it, and try to have @liztio go through the process.

[2018-01-12 20:42] timothysc commented on #107
Going to close this.  We will match what are the supported versions by upstream.

[2018-01-12 20:42] #107 closed

[2018-01-12 20:43] #72 closed

[2018-01-12 21:23] chuckha opened #131 "Fixup discovery file stuff"
This is somewhat tricky due to aws (rightly) being reluctant to delete a bucket with data in it.

[2018-01-16 15:16] #127 closed

[2018-01-16 16:48] #128 closed

[2018-01-16 17:29] timothysc commented on #83
I think I'm concerned about the UX and possible issues here.

If folks are allowed to select spot instances it should be only for compute nodes and an opt-in behavior.

[2018-01-16 18:04] timothysc opened #134 "Go through PDF and clean it up."
Also document the process on how we update it.

Enqueue for next refresh (Feb/March)

[2018-01-16 18:20] smcquay commented on #129
I can't seem to get that curl command to succeed regardless of the machine I'm running it on (including all the machines that I just stood up in a fresh VPC). Perhaps that command is a red herring.

Would it be sufficient for the Stack to progress if I configure things such that `hostname -f` works?

[2018-01-16 18:24] craigtracey commented on #129
@smcquay the `curl`  command getting a 403 in https://github.com/heptio/aws-quickstart/issues/118 has nothing to do with stack failure.  That mechanism is used for installing development binaries on a development stack.

Though, `hostname -f` being functional is a requirement.

[2018-01-16 18:54] smcquay commented on #129
@craigtracey thanks for the response. I'll see what, if anything, we can do with our VPCs to make progress forward.

[2018-01-16 21:49] timothysc opened #136 "Update to 1.9.2"
1.9.2 should be released on Thursday 01/18/18

We should move to push that version out at that time.

@liztio - assigning to you, todo the walkthrough.

[2018-01-17 16:46] chuckha opened #137 "Quickstart banner is gone!"
the banner when you ssh in (that used to live on the bastion) is now gone.

[2018-01-17 17:46] chuckha commented on #117
This is now beautifully quiet.

[2018-01-17 17:46] #117 closed

[2018-01-17 17:48] #122 closed

[2018-01-17 17:50] chuckha commented on #113
All the self-hosted stuff still uses `component`, which i kind of like since it's a component of k8s itself, but the dashboard uses k8s-app now which also seems reasonable to me since the dashboard is more of an app.

I'm ok closing this since we are at the mercy of kubeadm now.

Here is the output from a 1.9 cluster created with the quickstart.
[code]

[2018-01-17 19:20] chuckha opened #138 "Expire lambda logs if possible"
I don't know if we can or not but the lambda cloud watch logs never expire. The actual creation of vms and stuff expires after 2 weeks. We should use that as the default expire time on lambda logs.

[2018-01-17 19:45] #131 closed

[2018-01-18 15:42] chuckha commented on #129
@smcquay if you're up for an experiment I'd be interested to see the output of `strace hostname -f`  on your system that cannot run `hostname -f` (you can use `strace -otrace hostname -f` to to write the output to a file called `trace`)

[2018-01-18 16:05] timothysc commented on #113
Closing this one in favor of opening issue against kubeadm - https://github.com/kubernetes/kubeadm

[2018-01-18 16:05] #113 closed

[2018-01-18 16:09] timothysc commented on #119
Please also PR to update the bastion host as well.

[2018-01-19 21:41] smcquay commented on #129
[code]

[2018-01-19 22:39] #119 closed

[2018-01-19 22:39] #136 closed

[2018-01-19 22:40] timothysc commented on #130
Document the process is the only final changes.

[2018-01-19 22:42] liztio commented on #130
note for monday-liz:

1. Build new AMIs using wardroom
2. PR new AMIs
3. Boot a quickstart from the PR branch using the manual instructions
4. If it succeeds, merge PR
5. PR to aws-quickstart/quickstart-heptio:develop

[2018-01-22 16:06] timothysc opened #141 "Add "Certified Badging" to this repo."
https://github.com/cncf/k8s-conformance  for v1.9 once we complete the submission.

It may take a couple of days for folks to walk through the results.

[2018-01-22 17:09] chuckha opened #142 "Document actual release process against aws' repo"
We used to open heptio:master against [aws](https://github.com/aws-quickstart/quickstart-heptio):develop. The reason for this got lost in the shuffle and then we started opening PRs against aws:master directly.

We should figure out and document what the actual release process is for this.

[2018-01-30 21:13] #130 closed

[2018-01-30 21:21] timothysc commented on #141
Pending on this merge https://github.com/cncf/k8s-conformance/pull/140

[2018-02-01 17:24] timothysc commented on #129
Is this still an issue?

[2018-02-01 17:38] smcquay commented on #129
I still can’t get it to work in our environment but I recognize that we have special settings for dns/dhcp that may be causing this.

I have switched gears and moved to creating a new vpc and am looking into vpc bridging as a way to move forward. I am fine closing this as a dupe of #118.

[2018-02-01 17:39] #129 closed

[2018-02-02 14:47] gmflau opened #146 "Issue with deleting StatefulSets (sts)"
I deployed a K8 cluster using Heptio's AWS-QS.  I was also able to deploy my Statefulset.  However, I got the following error when trying to delete my Statefulset.

$ kubectl get statefulset dse -o wide
NAME      KIND
dse       StatefulSet.v1.apps
$ kubectl delete statefulset dse
error: no kind "GetOptions" is registered for version "apps/v1"

[2018-02-02 15:19] craigtracey commented on #146
Thanks for the report @gmflau.  This appears to be a problem with your `kubectl` client.  Could you provide the output from `kubectl version`?

[2018-02-02 18:21] gmflau commented on #146
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.6", GitCommit:"4bc5e7f9a6c25dc4c03d4d656f2cefd21540e28c", GitTreeState:"clean", BuildDate:"2017-09-14T06:55:55Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"darwin/amd64"}

[2018-02-02 18:30] craigtracey commented on #146
@gmflau assuming that you are using out latest release of aws-quickstart, the server version would be 1.9.2.  You can verify this with the same `kubectl version` command, as it will list the server version as well.  There is componentry in the client that will need to match the server version.  Could you please retry your actions with the `kubectl` that matches your aws-quickstart version?

[2018-02-03 00:04] smcquay opened #147 "Unexpectedly bad performance through ELB"
I was following along in the [expose a service ](http://docs.heptio.com/content/tutorials/aws-qs-services-elb.html) tutorial and am seeing bad performance through the `ELB`. I'm ready to admit (and hopefully find) a configuration issue with my AWS account (I've looked and not found anything immediately wrong though), but I'm seeing incredibly bad latency getting http responses from a deployed http

[2018-02-03 18:30] gmflau opened #148 "Can you provide some instructions to deploy a K8 v1.8.x cluster?"
Currently, the AWS QuickStart is deploying  a K8 v1.9.2 cluster.  Can you provide some instructions as to how to deploy using your CFN templates to deploy a K8 v1.8.x (could be v1.8.2) cluster?

[2018-02-03 18:58] gmflau opened #149 "Problem creating a CFN stack..."
I was following your instructions on README.md to deploy a K8 cluster.  Here is what I passed to the CLI command:

$ aws cloudformation create-stack --region us-west-2 --stack-name Heptio-Kubernetes-GML --template-url https://quickstart-reference.s3.amazonaws.com/heptio/latest/templates/kubernetes-cluster-with-new-vpc.template --parameters ParameterKey=AvailabilityZone,ParameterValue=us-west-2a Pa

[2018-02-04 17:56] gmflau commented on #146
Thanks Craig.  Confirmed it was the issue of my kubectl CLI client.  It has to be 1.9.x or higher to work.

[2018-02-04 17:56] #146 closed

[2018-02-07 18:56] #141 closed

[2018-02-08 06:31] jer commented on #147
I had this exact behavior, and it is perfectly reproducible. I ended up noticing that NodePort was acting funny, and in fact was the same behavior described here https://github.com/kubernetes/kubernetes/issues/58908

Running `sudo iptables -P FORWARD ACCEPT` on every node fixes that issue and it also resolves the problem at the ELB. Should this be added to the CF template to make sure that Service

[2018-02-08 14:51] timothysc commented on #148
The instructions on how to run from the repository are documented in the repo.  To be explicit though, the heptio aws-quickstart is a free (as in free beer) product, and we typically do no back support older versions.  The goal of the quickstart is to serve as a POC bed for the community as well as our internal tooling.

To run 1.8.x you would need to checkout the sha listed below from the merged

[2018-02-08 14:51] #148 closed

[2018-02-08 15:20] timothysc opened #151 "Update to latest 1.9.x"

[2018-02-08 15:23] timothysc commented on #147
This one may belong in wardroom.

/cc @craigtracey

[2018-02-08 15:45] #137 closed

[2018-02-08 15:47] timothysc commented on #142
@liztio has done this last cycle.

[2018-02-08 15:47] #142 closed

[2018-02-09 01:01] timothysc commented on #147
@jbeda poked all the right people on the upstream issue, looks like it's rooted there.

[2018-02-09 01:12] timothysc commented on #147
k, this comment leads me to think a change in the networking setup may have occurred - https://github.com/kubernetes/kubernetes/issues/58908#issuecomment-364302823

[2018-02-09 14:58] chuckha opened #152 "m3.medium (default) is unavailable in us-east-2"
We need to make sure whatever default we provide is available everywhere (possibly have dynamic defaults based on region, we already do something similar for dns & us-east-1)

[2018-02-12 15:01] detiber commented on #147
As I was digging through the scripts, config, and manifests that we are applying, I *think* it might be related to a mismatch in the default pod network configuration between kubeadm and calico, I'm working on validating this now.

[2018-02-12 16:58] timothysc commented on #152
It looks like they are doing the instance type shuffle again...

[2018-02-12 21:53] #147 closed

[2018-02-15 20:49] smcquay commented on #147
@detiber: how do I verify this change? I just tried building a cluster using the template here:

https://s3.amazonaws.com/quickstart-reference/heptio/latest/templates/kubernetes-cluster-with-new-vpc.template

and I'm still seeing the same pathology.

How would I know when this merge has hit **"latest"**?

[2018-02-22 05:20] #151 closed

[2018-02-22 05:20] #152 closed

[2018-02-22 18:19] timothysc commented on #83
We've updated image types in the last couple of iterations to allow a wider range.

[2018-02-22 18:19] #83 closed

[2018-02-22 18:32] mattmoyer commented on #83
This issue is about using [Spot Fleet](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/spot-fleet.html) or other alternatives to regular ASG, not the EC2 instance types.

[2018-02-22 18:51] detiber commented on #147
@smcquay The [PR](https://github.com/aws-quickstart/quickstart-heptio/pull/13) to update the quickstart was merged yesterday, we are just waiting on Amazon to finish their validation before it is pushed live

[2018-02-25 17:37] jbeda opened #157 "1.9 clusters are using the 1.8 dashboard"
We need to update/test the new YAML for 1.9.

We should probably have a checklist of dependencies to check for when doing version upgrades.

[2018-02-25 19:13] jbeda opened #158 "Dashboard should be pinned to master node"
Right now the dashboard tolerates the master node but isn't pinned to it.  We should add a host constraint to ensure the dashboard only runs on that node.

Why?
* Typically the dashboard starts up fast enough it almost always lands on the master node.
* We have a network policy preventing all access to the dashboard
* Network policy doesn't apply when traffic comes from the host (to support health

[2018-02-26 17:01] jbeda commented on #158
Also /cc @mattmoyer.

[2018-02-26 17:38] timothysc commented on #158
Somehow I totally forgot that we deployed this, and I don't know how I feel about that...

[2018-02-27 15:50] stevesloka opened #159 "Internal ELB Not needed"
Currently, the quickstart creates an internal ELB for the control plane which is not required in a non-HA setup. I don't see a reason to require this but wanted to check and verify. Not having would save on overall costs for the cluster.

[2018-03-12 20:29] timothysc opened #161 "Update to 1.9.4"
https://groups.google.com/d/msg/kubernetes-announce/6sNHO_jyBzE/EK0ftMhpAAAJ

/cc @chuckha - FYI.

[2018-03-13 16:02] detiber opened #162 "Add support for coredns"
Add an option to allow bringing up a cluster using coredns.

[2018-03-16 18:08] timothysc commented on #162
Per discussion 2day I would move to have it the default imo.

[2018-03-22 18:56] detiber commented on #157
It looks like the version numbers for the dashboard no longer directly correspond to the k8s version. #165 Does rev the dashboard version to the latest released version.

[2018-03-22 23:33] #157 closed

[2018-03-22 23:33] #158 closed

[2018-03-23 17:49] #161 closed

[2018-03-25 04:51] detiber commented on #162
Re-opening, since CoreDNS is not properly configured on current master.

[2018-03-25 22:18] #162 closed

[2018-03-28 17:40] pbarker opened #167 "support setting kube-apiserver flags"
As a part of the "advanced" configuration options we should allow the kube-apiserver flags to be set.

[2018-04-03 10:26] IshwarChandra opened #168 "Where can I find etcd logs and it's endpoint"
For some troubleshooting and a different use case I need to look into etcd log files.
I ssh into master node and go to /var/log but there is no etcd log files.
Also, I need to know etcd endpoint used by clients.
Please help

[2018-04-12 14:43] chuckha opened #170 "Enable AuditLogs"
Use the kubeadm feature gate for audit logs. Perhaps something less verbose than "everything" but also everything would be interesting to have.

[2018-04-12 15:56] timothysc commented on #170
/assign @detiber

We should cross link with the wardroom issue too.

[2018-04-12 15:57] timothysc commented on #170
/cc @grillz

[2018-04-12 16:03] grillz commented on #167
relates to https://github.com/heptio/aws-quickstart/issues/170

[2018-04-20 15:33] rbankston opened #171 "Hostname Enhancement for existing vpc's"
Currently this project relies on hostname -f to provide hostname resolution. This call can be broken based on dhcp changes. We've seen this happen when launching into an existing vpc like issues #118, and #129. This could rely on instance metadata which works regardless of dhcp settings. The change would consist of replacing:

[code]

with

[code]

the rest of the scripts behavior would remain unc

[2018-04-20 15:56] timothysc commented on #171
xref - https://github.com/kubernetes/kubeadm/issues/653 , as it's in a similar vein.

[2018-04-20 17:54] detiber commented on #171
@rbankston I'm not sure that the metadata local-hostname is available in all cases. I think it depends on having dns configured for the vpc. Granted you need dns configured on the VPC if you want to use the cloud-provider integration, which I suspect most users would want to do if they are running the quickstart :grinning:

[2018-04-20 18:09] rbankston commented on #171
@detiber Pretty sure that the local-hostname is always available based on a few docs I've read. The [dhcp](https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_DHCP_Options.html) documentation calls out local-hostname always being set regardless of other vpc options. The bit of the docs that says it should always be available is:

[code]

:)

[2018-04-27 15:24] rbankston opened #172 "Ubuntu 18.04 change"
Ubuntu 18.04 was released recently (4/26/2018) Would be nice to see the quickstart updated with it

[2018-05-08 00:13] dkalintsev opened #173 "Services with `externalTrafficPolicy: Local` seem not to work"
If I create a `NodePort` Service with `externalTrafficPolicy: Local`, I can't connect to it on NODE_IP:NodePort. If the Service is patched to set `externalTrafficPolicy` to `Cluster`, connectivity works.

Using a QuickStart deployed with all defaults (CoreDNS / Calico).

Example Deployment + Service that doesn't work unless I remove `externalTrafficPolicy`:

[code]

Example session:

[code]

From

[2018-05-08 01:25] dkalintsev commented on #173
Issue looks similar to what I see here: https://github.com/juju-solutions/bundle-canonical-kubernetes/issues/489

I get very much the same symptoms. In iptables:

[code]

In kube-proxy's logs:

[code]

[2018-05-08 14:57] krisdock opened #174 "Trailing slash on S3 prefix isn't being added"
We have a customer issue where the Quick Start is failing with the following:

[code]

We noticed the URL should be https://quickstart-reference.s3.amazonaws.com/heptio/latest/scripts/awslogs.service, so it appears the trailing slash that is supposed to be appended to the prefix isn't being appended.

[code]

This has happened with both the 'new VPC' and 'existing VPC' deployment options.

[2018-05-08 15:37] krisdock commented on #174
The customer may have potentially been mucking with the default prefix. I asked them to add the trailing forward slash in the setup options (since the default entry actually has it) and the Quick Start deployed successfully.

[2018-05-08 21:14] timothysc commented on #174
/assign @chuckha

[2018-05-08 21:33] chuckha commented on #174
There's definitely something weird here... I was looking through all of our scripts and we *always* add the `/` and our comment on the field is weird...so I'll need to do a longer dig. Probably something like figure out why we say "never end with a trailing '/'" but then we default to something with a trailing /.

[2018-05-11 15:28] rbankston opened #175 "AWS Troubleshooting Update"
The document at https://github.com/heptio/aws-quickstart/blob/master/troubleshooting.md should be updated to include the appropriate logs and ways to troubleshoot when the cluster fails to come up. These include removing the auto rollback and the appropriate logs inside of /var/log.

[2018-05-11 18:25] rbankston commented on #175
https://github.com/heptio/aws-quickstart/pull/176 updated the troubleshooting and important logs

[2018-05-13 23:47] krazik commented on #171
simple hack fix for this.

change
`hostname -f`
to
`hostname -f 2>/dev/null || curl http://169.254.169.254/latest/meta-data/local-hostname`

[2018-05-13 23:47] krazik commented on #171
I can submit a pr if you want tho simple to change in the ~3 files

[2018-05-14 14:44] chuckha commented on #171
Definitely submit a PR. This is the biggest issue we've run into in the last 6 months. Based on our current prios we'll get to it in the next week or two, but it'll be better to have the PR ready to go. Thanks for looking into this!

[2018-05-14 22:31] #175 closed

[2018-05-15 18:09] timothysc commented on #172
We conversed about this but we are going to hold off on this for a while.

[2018-05-15 18:16] #171 closed

[2018-05-15 18:17] chuckha commented on #171
@rbankston did you know you can add "Closes #171" to your PR (either commit or PR description) and the ticket will auto close? :D

[2018-05-15 18:20] timothysc commented on #134
@Bradamant3 - how are we looking here?

[2018-05-15 18:28] chuckha commented on #134
I did an overview of the technical changes recently. There was nothing major on the technical end.

[2018-05-15 18:33] Bradamant3 commented on #134
Initial technical changes sent to AWS and folks are timely and responsive. Still TODO:
- make sure we get the timing right. The technical changes apply to the next released version, not the current version. (If this is not correct, lmk and we have a larger issue to discuss.)
- Add troubleshooting information. This will be a fast follow to the previous item.

[2018-05-15 19:12] timothysc commented on #167
I'm going to close this here, and we'll focus this change into wardroom.

xref: https://github.com/heptiolabs/wardroom/issues/59

[2018-05-15 19:12] timothysc commented on #170
I'm going to close this here, and we'll focus this change into wardroom.

xref: https://github.com/heptiolabs/wardroom/issues/59

[2018-05-15 19:12] #170 closed

[2018-05-15 19:12] #167 closed

[2018-05-15 21:11] cpekyaman opened #179 "cluster in new vpc with weavenet and coredns : pods can't reach each other or services"
I've recently created a cluster in a new vpc.
My choices for stack parameters were (kubernetes version seems to be 1.9.5):

Name | Value
-----------------|----------------
AvailabilityZone | us-east-2a
BastionInstanceType | t2.micro   
ClusterDNSProvider | CoreDNS
DiskSizeGb | 30
InstanceType | m4.large
K8sNodeCapacity | 2
NetworkingProvider | weave

It seems that the pods can neither reach each o

[2018-05-16 17:41] chuckha commented on #159
@stevesloka are you suggesting that we expose the api server directly to the world with a public ip address instead of an elb in the public subnet pointing to the private subnet?

[2018-05-16 17:49] stevesloka commented on #159
No, my suggestion was to remove the ELB completely. If you don't have an HA control plane, all kubelets can use the IP of the control plane machine. The control plane machine gets a public IP and the ELB is not used.  I may be misunderstanding the architecture of how it's implemented though.

[2018-05-16 17:54] chuckha commented on #159
you're right the kubelets could use a public or private ip since they are in the same network and don't have to use the elb address. The problem is that the elb isn't totally internal and that's what we use for external traffic to the control plane.

For instance, here is my kubeconfig for a quickstart cluster:

[code]

[2018-05-16 17:56] chuckha commented on #159
oh one piece i forgot to mention, all of the nodes are in a private subnet. we'd have to move at least the control plane node to the public subnet for the public ip address to let external traffic in

[2018-05-16 18:13] chuckha commented on #168
@IshwarChandra The only client that uses etcd is the api server. It's run as a static pod so you'll find the logs using docker. If you ssh to the node and run `sudo docker ps` then `sudo docker logs <containerid>` You will see the logs for etcd.

[2018-05-17 01:44] rbankston opened #182 "DHCP Domain name options cause failure in starting cluster"
When launching into an existing vpc  if the dhcp options are set to something like:

[code]

The cloud init scripts fail to download or run properly. Able to get

[code]

to launch properly. If this is expected should this be added to a separate document about launching into existing vpc or added to an existing location. If this isn't expected is there a portion of the scripts to update to resolve

[2018-05-17 14:15] timothysc commented on #182
/assign @chuckha

[2018-05-17 16:45] rbankston opened #183 "Ticket 148: Choose Subnets for new VPC template"
Would be great to be able to choose the subnet when creating a cluster with a new vpc. This would allow more folks to peer the cluster since they could be sure it didn't overlap with any existing vpc.

[2018-05-21 14:40] timothysc commented on #134
@Bradamant3 This needs to be done-done this week.

How are we?

[2018-05-21 15:08] Bradamant3 commented on #134
I'm waiting until my AWS contacts on the west coast are back in the office this week. We need to clarify some things about which version/s of the template are shipping when. Conversation is in progress, will update here when I have more information.

[2018-05-21 16:37] chuckha commented on #138
reopened because the fix caused a creation race condition. One solution that might work here is to have lambda log to sqs and then create a log group that reads from sqs. Not important enough for this milestone so it gets the boot.

[2018-05-21 16:37] chuckha commented on #138
(also it was removed in https://github.com/heptio/aws-quickstart/pull/185)

[2018-05-22 18:22] detiber commented on #183
@rbankston can you elaborate a bit more on the use case that you see here? I would not expect overlapping of private subnet IP to matter between clusters since they would be communicating through the NAT gateway or through publicly exposed services/ingress.

[2018-05-22 19:12] rbankston commented on #183
Sure can. In AWS when you want to establish a vpc peering session the cidr ranges on both sides of the peer have to be [unique](https://docs.aws.amazon.com/AmazonVPC/latest/PeeringGuide/vpc-peering-basics.html). It is similar to setting up a peer to peer vpn.

[2018-05-23 13:38] detiber commented on #149
@gmflau My apologies for taking so long to respond to this issue. To assume a role with the aws command line utility you can follow these [instructions](https://docs.aws.amazon.com/cli/latest/userguide/cli-roles.html).

[2018-05-23 19:53] detiber commented on #173
I'm currently testing a fix for this in #190, which uses an init container to update overrideHostname in the kube-proxy config.

[2018-05-23 19:55] detiber commented on #179
I'm testing a fix for the kube-proxy error message here: #173. I'm hoping to be able to attempt to replicate this issue tomorrow and see if the fix in #173 fixes this as well.

[2018-05-23 20:08] detiber opened #191 "Bastion AMIs could use an update"

[2018-05-23 20:49] detiber commented on #173
I just finished testing #179 with the reproducer provided and I am now able to access the NodePort with `externalTrafficPolicy: local` as expected.

[2018-05-24 14:17] detiber commented on #179
I just finished deploying a cluster with a new VPC with the changes in #173 using weave and I am not able to replicate this issue.

[2018-05-24 14:28] cicciodifranco commented on #179
Hi
Have you tried to debug your services as described [here](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/)? mind that you can't ping a service!
I've recently creaed a kubernetes cluster with this template (kube-dns/weave) and we found the same issiue but kube-proxy work well!!

[2018-05-24 15:04] detiber commented on #179
Just to be sure, I tried to spin up a cluster with the currently released Quickstart and am not able to replicate this issue there either. Again, I'm using http://docs.heptio.com/content/tutorials/aws-qs-helm-wordpress.html as a test case.

[2018-05-24 21:26] cpekyaman commented on #179
Hi,

I was very busy at work this week so, I couldn't check anything related to this issue.
I'm currently using the stack created with calico and kubedns without a problem.

I hope I will have time to try creating the stack with a few more combinations (weave + corends, weave + kubedns etc.) and try to replicate the issue again tomorrow.
This time, first I'll use the procedure in the link @cicciod

[2018-05-25 15:33] #173 closed

[2018-05-25 17:55] #174 closed

[2018-05-25 18:01] #182 closed

[2018-05-29 14:08] rbankston opened #193 "Update troubleshooting document"
Update the troubleshooting document for the failure `CREATE_FAILED AWS::CloudFormation::Stack K8sStack Requires capabilities : [CAPABILITY_IAM]`

[2018-05-29 14:32] timothysc commented on #134
@Bradamant3 Just want to poke the status of this one.

[2018-05-29 15:04] #168 closed

[2018-05-29 15:23] #193 closed

[2018-05-29 17:01] chuckha opened #196 "Update s3 bucket"
right now the s3 bucket we deploy to has a -test suffix. We should move this to be a more sensible bucket. This will also allow us to organize the aws account stuff in the backend.

cc @asenchi

[2018-05-29 22:11] Bradamant3 commented on #134
last TODO items:

1. update links in PDF. Waiting on referrer links from marketing. If we can't work these out in 24 hours, will put plain links in (have links I can construct).
2. update tutorial content for heptio.com (not yet live)
3. (related but not this issue) set up redirects from docs.heptio.com to tutorials on heptio.com (timing TBD)
4. Take down content on docs.heptio.com.

[2018-06-01 21:22] chuckha opened #197 "Evaluate Instance Roles"
We no longer use ECR and can scope the permissions down. There may be other things we can do here as well.

[2018-06-15 19:19] nrb opened #199 "deploy-latest-published.sh file mentioned in README missing"
The README links to https://github.com/heptio/aws-quickstart/blob/master/bin/deploy-latest-published.sh for getting a cluster via the command line. However, this file isn't in the repo. The output of ` git log --all --full-history -- bin/deploy-latest-published.sh` shows that it never existed.

What's the correct command or script to use?

[2018-06-15 19:22] chuckha commented on #199
please use https://github.com/heptio/aws-quickstart/blob/master/bin/boot-latest-published.sh instead. I will fix the readme.

[2018-06-15 19:30] #199 closed

[2018-07-12 14:49] rbankston opened #202 "Fix troubleshooting document"
There is a missing typo in the troubleshooting document

[code]

should be

[code]

[2018-07-12 21:54] #202 closed

[2018-07-18 16:33] rbankston opened #205 "MTU enhancement"
**Describe the solution you'd like**
The default MTU within the calico cni provider is for best results when using GCE at 1500. We should update the MTU in this project to match the documentation from [Tigera for AWS](https://docs.projectcalico.org/master/usage/configuration/mtu)

**Anything else you would like to add:**
Updating the MTU helps improve throughput on the cluster.

[2018-07-18 18:19] detiber commented on #205
@rbankston if we do go down this path, then we need to ensure that we are not including any instance types in the template that do not support jumbo frames: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/network_mtu.html

[2018-07-31 06:37] bamb00 commented on #173
I have the same issue using kubernetes v1.9.5.  Is there a workaround? Thanks.

[2018-07-31 15:34] detiber commented on #173
@bamb00 the workaround is documented here: https://kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/#services-with-externaltrafficpolicy-local-are-not-reachable

It may need to be modified to work with v1.9.5, though.

[2018-08-22 14:48] detiber opened #207 "Switch to containerd for container runtime"
Update the quickstart to use containerd for the container runtime instead of docker.

[2018-08-22 19:00] chuckha commented on #207
My notes installing containerd on an ubuntu system:

[code]

[2018-08-22 20:49] timothysc commented on #207
/cc @rbankston as he's done it.

[2018-08-22 20:56] rbankston commented on #207
My notes on setting up an ubuntu system using the aws community image

[code]

[2018-08-22 23:00] bwang221 opened #209 "The creation process never completes within cloudformation"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]
from: https://aws.amazon.com/quickstart/architecture/heptio-kubernetes/

choose 👍
Deploy into a new VPC

follow the steps to fill in required information. then proceed with "Create".

**What did you expect to happen:**

I expected the VPC and Kubenetes cluster to be created.

The Nested stack compl

[2018-08-23 00:02] timothysc commented on #209
"but if you check EKS service"...?

This is not an EKS cluster.

[2018-08-23 04:12] bwang221 commented on #209
Interesting.

What I observed:

1. The master stack completed after 6 hours, while I expect it to complete in 10 minutes.
2. If I run the same template in couldformation in a region that does not support EKS, it fails quickly. If I run it in a region that supports EKS, it behaved as what I described.

I will run it again and let you know.

[2018-08-28 10:47] huyhoangchien opened #210 "x509: certificate has expired or is not yet valid"
I have deployed this cluster for 1 year
Run any kubectl commands to connect with the cluster

And it returned this error:
x509: certificate has expired or is not yet valid

**Environment:**

- Kubernetes version: (use `kubectl version`): 1.7
- OS (e.g. from `/etc/os-release`): Ubuntu 16.04.2 LTS

[2018-08-28 21:15] #183 closed

[2018-08-29 16:30] #138 closed

[2018-08-29 18:01] vincepri commented on #205
The MTU is indeed configured at 1500/1440. The process for changing it is documented [here](https://docs.projectcalico.org/v3.2/usage/configuration/mtu) and looks pretty straightfoward to change the value.

[2018-09-14 19:31] bwang221 opened #213 "Document how to make the cluster work with AWS ECR?"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
 I can create and run clusters with the provided cloudformation template. But I have had hard time to get the PODs to pull docker images from AWS ECR.  describe pod would give the following error.

what are the setup I need to make it work with AWS ECR?

Failed to pull image "00000000000.dkr.ecr.us-w

[2018-09-18 15:11] stevesloka opened #214 "Missing cloud-provider integration"
**What steps did you take and what happened:**

Deployed the quickstart to Ohio (us-east-2) and when I try and create a service type `LoadBalancer`, the external-ip stays `Pending`. Looking at the logs I see this:

[code]

I then tried deploying to Oregon (us-west-2) and have the same problem.

**What did you expect to happen:**

When I create a service type LoadBalancer I get an ELB provisioned a

[2018-09-18 18:49] timothysc commented on #214
/assign @vincepri @chuckha

This is weird, has something changed with cloud-provider integration?

[2018-09-19 00:52] stevesloka commented on #214
Just to update, I rolled back the repo to `558b449` and it all seems to work fine. So something after that is the culprit either with the repo, or changes in how kubeadm works.

[2018-09-20 21:26] skriss opened #217 "unable to provision EBS volume on quickstart cluster"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Spun up a cluster in us-west-2 using all the default values.
Deployed a workload with a PVC.
`kubectl describe pvc...` shows:
[code]

**What did you expect to happen:**
Expected a PV to be dynamically provisioned.

**Anything else you would like to add:**
[Miscellaneous information that will assis

[2018-09-20 21:52] skriss commented on #217
Ah, I see this is a dupe of #214.  Trying `master` out...

[2018-09-21 15:16] skriss commented on #217
`master` worked great.  Closing this issue.

[2018-09-21 15:16] #217 closed

[2018-09-28 01:39] craigtracey commented on #214
This appears to still be problematic.  Seems missing controller-manager config.

[2018-09-28 01:56] craigtracey opened #218 "Extraneous username present in latest images"
**What steps did you take and what happened:**
~vince in the ubuntu home directory
![image](https://user-images.githubusercontent.com/1054487/46183706-22d8f580-c2a0-11e8-9e92-b4779c070e2d.png)

**What did you expect to happen:**

**Anything else you would like to add:**

**Environment:**

- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2018-09-28 14:14] chuckha opened #220 "Badge on README is outdated and reads 1.10"
The badge needs to be updated for 1.11 and each bump we do.

To close this bug, add this step to the list of "things to update" documentation. If the documentation does not exist, create it.

[2018-09-28 17:58] #214 closed

[2018-10-01 15:15] timothysc commented on #218
/assign @vincepri
/cc @chuckha

[2018-10-01 15:17] timothysc commented on #220
/assign @vincepri

[2018-10-01 15:19] chuckha commented on #218
Cross referencing the wardroom ticket: heptiolabs/wardroom#89

[2018-10-05 20:11] vincepri commented on #220
Fixed in #222

[2018-10-05 20:11] #220 closed

[2018-10-11 16:26] rbankston opened #223 "AWS Quickstart Failed initializing the control plane"
**What steps did you take and what happened:**

Used `Launch Latest Quickstart Now` in two different regions. Both US-East-2 and US-West-2 failed with the error message in the cloud init output log of:

[code]

When running `/tmp/setup-k8s-master.sh` on a node that failed it errors with the command:

[code]

**What did you expect to happen:**
The master to be initialized.

**Environment:**

- Kube

[2018-10-11 16:38] timothysc commented on #223
/assign @vincepri
/cc @chuckha

[2018-10-11 16:44] rbankston commented on #223
Did some further testing. When copying and pasting the same yaml into the same file the kubeadm init works without issue. When called from the script it fails with that error. Tested on three attempts all same result.

[2018-10-11 16:54] vincepri commented on #223
I just tried to launch a cluster in us-east-1 and the bootstrap was successful, not sure how to reproduce this :/, do you have a way to paste the output of `/tmp/kubeadm.yml` and the output when you run the script?

[2018-10-11 17:00] rbankston commented on #223
kubeadm.yml

[code]
The yaml is valid but when called from the bash script gives that error if using the script to initialize with kubeadm.

[2018-10-11 18:48] rbankston commented on #223
Tried to launch in US-EAST-1 as well and received the same failure.

[2018-10-11 18:56] detiber commented on #223
We really should be quoting any strings that may include `:` in them

[2018-10-11 21:33] rbankston opened #225 "API Server Timeout when entering Admin Ingress Location"
**What steps did you take and what happened:**
Created an AWS Quickstart cluster and utilized the Admin Ingress Location IP address of my local isp to lock down access to the cluster.

The API ELB is locked down to *only* my admin ingress location but not any nodes for the cluster.

**What did you expect to happen:**
Cluster would be created and function properly without manual intervention.

**An

[2018-10-16 20:38] rosskukulinski commented on #225
@rbankston could you please provide some additional details on how to reproduce this issue

[2018-10-16 21:15] rbankston commented on #225
## Steps to Reproduce

1) Launch latest AWS-quickstart template from the Readme.
2) Proceed to fill out fields in the template as normal
3) In `Admin Ingress Location` enter your ip address if 1.2.3.4 was your ip address would be `1.2.3.4/32`
4) Launch quickstart

Quickstart will launch. The bastion host ingress location will be set properly to your local IP address. The load balancer for the cont

[2018-10-17 03:11] rosskukulinski commented on #225
@timothysc FYI - low priority, but definitely a bug we should probably fix.

[2018-10-23 22:07] vincepri commented on #223
@rbankston I think this should be fixed in https://github.com/heptio/aws-quickstart/pull/224

[2018-10-23 22:10] vincepri commented on #223
I think the ELB IP was chosen because this https://github.com/heptio/aws-quickstart/blob/master/scripts/setup-k8s-master.sh.in#L129 was erroring in case we'd specify a dnsname, @chuckha @detiber any suggestions on that

[2018-10-24 14:31] antonytphilip opened #227 "How to use Own AMI and boot strap"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]
I need to use the AMI prescribed by my company due to the fact the root Volume has to be encrypted using our Custom key .So , i would like to know the scripts or steps  that can be boot strapped to our AMI .

**Anything else you would like to add:**
[Miscellaneous information that will assist in solv

[2018-10-24 20:50] timothysc commented on #227
/assign @vincepri @chuckha

[2018-11-26 21:14] chuckha opened #232 "Remove dependency on dig"
To keep wardroom to a minimum we shouldn't depend on dig. There must be some alternative to retrieve the IP address of the load balancer that doesn't require an extra package to be installed on the base image.

[2018-12-13 20:32] stevesloka opened #235 "Kubeconfig endpoint uses ip address instead of cname"
**What steps did you take and what happened:**

After a cluster is built, the downloaded config uses the IP address of the ELB instead of the DNS name. This causes a problem if the IP address changes breaking the connection to the cluster.

[2018-12-13 20:32] stevesloka commented on #235
// cc @chuckha

[2018-12-21 08:28] antonytphilip opened #236 "unbale to bringup the Kubernetis Cluster with Quick start when"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

I am trying to bring up the Cluster using our private subnet , but the cluster creation fails as the kubelet goes for restart loop .i use below default options for kubeadm.yaml .

nodeRegistration:
  name: ${HOSTNAME}
  kubeletExtraArgs:
    cloud-provider: aws
the failure message is as below ,
==

[2019-01-02 16:05] timothysc commented on #235
/assign @vincepri

[2019-01-03 00:39] vincepri commented on #235
During the last refresh the IP address was chosen instead of the cname because of https://github.com/heptio/aws-quickstart/blob/master/scripts/setup-k8s-master.sh.in#L127-L130

We need to investigate if this is still the case or if the address can now be a cname instead.

[2019-01-11 21:15] timothysc commented on #149
Closing, both old and possible via the instructions listed above.

[2019-01-11 21:20] timothysc commented on #196
Evaluate if this worth doing.

[2019-01-11 21:21] vincepri commented on #191
Bastion AMIs are set here https://github.com/heptio/aws-quickstart/blob/master/templates/kubernetes-cluster-with-new-vpc.template#L473-L504

[2019-01-13 00:58] wiquan opened #237 "BastionHost IP is hardcoded"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

Tried to create a cluster on a new 10.127.0.0 VPC.
I found the bastion host IP is hardcoded here:
https://github.com/heptio/aws-quickstart/blob/master/templates/kubernetes-cluster-with-new-vpc.template#L663

**What did you expect to happen:**
Expected the bastion host to have an IP allocated from

[2019-01-13 17:15] wiquan opened #238 "NATEIP should be added to ApiLoadBalancerSecGroup"
**What steps did you take and what happened:**
I have ApiLbLocation configured for my WAN IP (not 0.0.0.0\0 )
During cluster build of master node, the ApiLoadBalancerSecGroup blocked TCP traffic back thru the NAT Gateway via its public ip (NATEIP).

**What did you expect to happen:**
Successful cluster buildout.

**Anything else you would like to add:**
You could document that its easiest to just

[2019-01-14 00:03] wiquan commented on #238
duplicate of https://github.com/heptio/aws-quickstart/issues/225

[2019-01-14 04:29] wiquan opened #239 "Unable to register node "ip-x-x-x-x.ec2.internal" with API server: nodes "ip-x-x-x-x.ec2.internal" is forbidden: node "ip-x-x-x-x" cannot modify node "ip-x-x-x-x.ec2.internal""
**What steps did you take and what happened:**
 fails to create using *QS(5042) Kubernetes AWS CloudFormation Template: Create a Kubernetes*.

I used this template
https://aws-quickstart.s3.amazonaws.com/quickstart-heptio/templates/kubernetes-cluster.template

to create a stack with 'rollbackOnFail=false' so i can do a post-mortem, then ssh over to the broken master.

I think 'kubeadm init' is fai

[2019-01-14 04:45] wiquan commented on #236
Also likely a duplicate of #225.
You can try to recreate the stack with 'ApiLbLocation=0.0.0.0/0' to see if it get farther.
The idea is NAT_EID is not in the SG so your not getting return traffic along this path: external ELB -> NAT Gateway -> private ec2 instance (master node).

[2019-01-17 09:19] antonytphilip commented on #236
I have created this stack on the private subnets and no NAT instance or  IGW is provisioned due to restrictions in our organisation .
i use an  SG where all traffic are allowed between any to any , and between the same SG,  and from our private on premise network .
inbound internet access to EC2  is through our enterprise proxy .
also i wanted to check by mentioning   'ApiLbLocation=0.0.0.0/0' , b

[2019-01-17 18:50] wiquan commented on #236
This QuickStart is a 'canned' method of creating the infrastructure and EC2 instances necessary for a v11.2 cluster via kubeadm.

It sounds like your deployment is *much* different than the deployment of this QuickStart CF template. For instance, No IGW or NAT GW means you have no VPC. So does that mean No public / private subnets either? You see what I mean? Your deployment is *way* different fro

[2019-01-17 18:53] wiquan opened #240 "Support for K8s v1.13"
**Describe the solution you'd like**
[A clear and concise description of what you want to happen.]

**Anything else you would like to add:**
[Miscellaneous information that will assist in solving the issue.]

**Environment:**

- Kubernetes version: (use `kubectl version`):
- OS (e.g. from `/etc/os-release`):

[2019-01-18 07:33] antonytphilip commented on #236
Yes the original CFT was modified to use in our restricted environment . I use an existing VPC , that does'nt have IGW and NAT GW, But it has private subnets .
I worked around the internet connectivity through our internet  Proxy on EC2 apart from that , i use an existing SG which is open to any .These are the only difference from the original CFT of Quick start.

[2019-01-18 07:36] antonytphilip commented on #236
Sorry , I thought  this is the platform to reach out to heptio .May i know , if there are other means to reach out to them.

[2019-01-18 19:16] wiquan opened #241 "[Existing VPC] : Tag subnets as 'owned'"
**What steps did you take and what happened:**
With a pristine new stack in an **existing VPC**, much of the stack materializes, but some tags are missing on subnets such that any attempt to deploy something via Helm (eg. [NextSteps:Wordpress](http://docs.heptio.com/content/tutorials/aws-qs-helm-wordpress.html) ).

With an existing VPC and existing Subnets, you will hit:
- https://github.com/kuber

[2019-01-18 19:20] wiquan commented on #237
After-the-fact I found this documented in the PDF. Nonwithstanding, this should be part of the template IMHO.

[2019-01-18 19:22] wiquan commented on #240
I'm going to close this because Docker for Mac is still on 1.10, and it may be perceived as pre-mature.
*Despite the fact that 1.13 was out last Dec, many have not migrated to it.*

[2019-01-18 19:22] #240 closed

[2019-01-18 19:23] wiquan commented on #239
I dont know if this is correct or not, but it works-for-me.
https://github.com/wiquan/aws-quickstart/commit/ad3276269baeae17c82d6f410540cd13f7e10dbf

[2019-01-23 19:30] wiquan commented on #236
I think of this as the place to report bugs, such that the QuickStart works as originally designed and documented.
It may be quicker if you approach Heptio from a APN (consulting) perspective by considering the
[Heptio Kubernetes Subscription](https://aws.amazon.com/solutionspace/solutions/heptio-kubernetes-subscription/), where you would click on *Work with APN Partner* and then the *Get started

[2019-01-23 19:40] wiquan commented on #241
Subnets can also be tagged as 'shared' (instead of owned).
That works better for me, since my single VPC has multiple stacks deploying into the same subnets.

[2019-01-24 15:52] #191 closed

[2019-01-25 03:19] timothysc commented on #241
So we might totally revamp this once we long term switch to cluster-api implementation, under the hood.

[2019-01-29 16:58] johnSchnake commented on #235
According to https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/config/initconfiguration.go#L116 it still needs to be an ipv4 or ipv6 address and not a cname.

[2019-01-30 17:52] johnSchnake commented on #235
Created an upstream issue: https://github.com/kubernetes/kubernetes/issues/73530 I think that is the right route here. I'll leave this open here in case we want to monitor the upstream change and react accordingly if it goes in. Otherwise if you think we can close (since no action can be taken now), feel free.

[2019-01-30 18:50] johnSchnake commented on #235
I found https://github.com/kubernetes/kubeadm/issues/1057 where this had been raised before for kubeadm. Going to think try and grock this a bit more as @liztio already spent some time considering this apparently.

[2019-01-30 20:56] johnSchnake commented on #172
Addressed by https://github.com/heptio/aws-quickstart/pull/243

[2019-01-30 20:56] #172 closed

[2019-01-30 20:57] johnSchnake commented on #207
Updated docker version in https://github.com/heptio/aws-quickstart/pull/243

Leaving this open for the time being in case we still want to consider moving to containerd

[2019-01-30 20:59] johnSchnake commented on #235
So looking through the kubeadm code there does seem to be a discrepency between the validations that occur. I've confirmed that the `kubeadm init --config` flow does allow the cname but doesn't seem to hit the same validation logic that `kubeadm alpha kubeconfig` hits w.r.t. this value. Will look into it a bit more but in the meantime should have an easier fix for this where we can just swap out t

[2019-01-31 04:14] #235 closed

[2019-01-31 22:51] #225 closed

[2019-02-01 20:17] johnSchnake commented on #179
Also unable to reproduce this. I used the debug steps https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/ but used an Ubuntu pod for testing (using a busy box image does cause dns problems which seem beyond the scope here).

[2019-02-06 18:51] chuckha opened #246 "replace `kubeadm alpha kubeconfig user` with `kubectl config` commands"
**Describe the solution you'd like**
Instead of depending on an alpha kubeadm feature that is at best staying unchanged in the alpha phase forever and at worst getting deleted (likely), we should get ahead of this curve and replace that feature with kubectl config commands.

I think it will be something like

1. create kubeconfig with kubeadm
2. set it as the active kubeconfig
3. modify the config

[2019-02-13 16:08] krisdock opened #247 "PV/PVC issue when I update to 1.13.3"
**What steps did you take and what happened:**
I brought up a Quick Start cluster, did a kubeadm reset, reset all iptables rules, upgraded kube* to 1.13.3, and reinitialized a cluster. Once up and Ready, I created a StorageClass and PVC. When I attempt to start a Pod referencing the PVC, it gets stuck in Pending with the following entry in the 'describe' output:

[code]

**What did you expect to h

[2019-02-13 18:25] johnSchnake commented on #247
Considering all the steps beyond the initial setup that you did, I think this is beyond the scope of the quickstart itself. If you have a working cluster but then after `kubeadm reset` -> upgrade -> `kubeadm init/join` you are having problems, you should raise a ticket with `kubeadm` itself.

Going to close this ticket for now but if you think something is wrong with the original cluster that the

[2019-02-13 18:25] #247 closed

[2019-02-26 19:55] johnSchnake opened #250 "Replace banner branding"
The banner on the main readme and a few other places still says Heptio instead of VMware.

[2019-03-05 19:25] rosskukulinski commented on #250
Thanks for the reminder @johnSchnake

[2019-03-29 15:15] jbeda opened #252 "Lasted launch link in README broken"
**What steps did you take and what happened:**
I clicked on the link on the readme called "Launch Latest Quickstart Now"

**What did you expect to happen:**
Launch into the latest version of the quickstart.  Instead, I get an error that says (confusingly) "Stack [template] does not exist" and "Stack with id template does not exist".  Not sure what is going on there.

[2019-04-03 15:34] timothysc commented on #252
/assign @rosskukulinski for prioritization ... sometime.

[2019-04-08 18:55] rosskukulinski commented on #252
Submitting a PR which I believe resolves the issue

[2019-04-08 19:43] #252 closed

[2019-04-10 00:31] ahren1234 commented on #223
this is still an issue, and has to do with what was talked about earlier. A correction could be turning this variable into a array and printing elements accordingly. An example is below (without proper validation/sanitation)

LB_IPV4=($(dig +short example.amazonaws.com))
....
certSANs:

[2019-04-10 15:54] raesene opened #255 "consider hardening the calico etcd service"
**Describe the solution you'd like**
At the moment when you spin up a default instance of the quick start, it sets-up an instance of etcd to be used by Calico.

The configuration of etcd in use, allows for unauthenticated access from a remote host, which would allow anyone on the pod network or who could otherwise access the VPC, to read or change the data held in that datastore.

**repo. steps**

[2019-04-17 14:01] rosskukulinski opened #256 "Remove old documentation site"
The old Heptio quickstart documentation site is still live.  We should make tear down that content and probably redirect to a new location.  Will need to work with SRE to make necessary changes.

[2019-04-18 15:51] timothysc commented on #256
That isn't really owned by this project.  ping @thrawn997

[2019-06-28 03:57] wotmshuaisi opened #259 "my pods can not access each others by service"
**What steps did you take and what happened:**
[A clear and concise description of what the bug is.]

i created a service for a pod, and try to ping this pod by service name in another pod, and it can get ip address but, no connection

**What did you expect to happen:**

pods can access each others by service name

**Anything else you would like to add:**
[Miscellaneous information that will assis

[2019-06-28 08:23] #259 closed

[2019-10-17 21:31] johnSchnake opened #260 "Refresh k8s version"
**Describe the solution you'd like**
Currently deploys v1.13.2, should update to https://github.com/kubernetes/kubernetes/releases/tag/v1.16.2

[2020-02-10 13:45] slow-J opened #262 "Updating wordpress tutorial for helm 3"
https://github.com/heptio/aws-quickstart/blob/master/docs/tutorial-wordpress.md
In Helm 3, tiller has been removed but is now not necessary, all the tiller section can be skipped.

During the 3. Install Wordpress section you need to now run:
`helm repo add stable https://kubernetes-charts.storage.googleapis.com/` in order to have access to the stable/wordpress repo, before the command:
`helm insta

[2020-07-30 12:08] Zanis7 commented on #173
@detiber  I'm facing the same issue in kubernetes v1.18.1. Workaround you mentioned is not available in the above link . Can you help me to solve the issue ?

[2020-07-30 14:09] detiber commented on #173
@Zanis7 I'm not sure this project is being maintained anymore, but if you are hitting this issue, then you likely need to make sure that the Node resource, the Kubelet configuration, and the kube-proxy configuration all agree on what the local hostname of the local machine is, otherwise traffic is likely not being handled correctly.

[2020-07-30 14:47] Zanis7 commented on #173
Thanks for your suggestion. I'll verify the same.

[2020-12-08 16:23] jmbeach commented on #239
My problem was that I was updating the hostname after the cluster was created. By doing that, it's like the master didn't know it was the master.

I am still running:

`sudo hostname $(curl 169.254.169.254/latest/meta-data/hostname)`

but now I run it before the cluster initialization

[2021-04-20 19:01] #213 closed

[2021-04-20 19:02] bwang221 commented on #213
invalid

[2021-04-20 19:03] #209 closed

[2021-04-24 17:38] #250 closed